.main {
  &.admin {
    max-width: 1200px;
    margin: 0 0 0 25%;
    transition: .3s;

    .header-section {
      width: 300px;
      position: relative;
      top: 57px;

      .header-section-title {
        text-align: left;
        margin: 0;
        max-width: 100%;

        h1 {
          font-size: 30px;
          font-family: $font-medium;
        }
      }

    }

    .main-container {

      width: calc(100% - 50px);
      margin: 0;
      position: relative;
      top: 50px;

      .admin-overview {
        margin-top: 100px;
      }

      .button-section {
        margin: 20px 0;
        text-align: right;
      }

      .fa-list {
        color: #000;
        position: relative;
        left: 30px;
      }

      .card-body {
        .form-group-image {
          height: 200px;
          width: 200px;
          object-fit: cover;
        }

        .form-group-helper {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}