.auth {
    padding: 200px 20px;

    .auth-title {
        margin: 40px auto;
        padding: 0;

        h1 {
            font-family: $font-regular;
            font-weight: 700;
            font-size: 40px;
            color: $tertiary;
        }
    }

    .form-section {
        max-width: 1480px;
        margin: 0 auto;

        label {
            font-family: $font-regular;
            color: $tertiary;
        }

        .form-submit-btn {
            padding: 0;
        }
    }
}
