.filter-section {
    ul {
        list-style: none;
        li {
            color: $dark-gray;
            font-weight: 700;
            display: inline-block;
            cursor: pointer;

            &:not(.filter-icon) {
                margin-right: 30px;
            }
            .filter-icon {
                i {
                    font-size: 17px;
                }
            }
        }
    }
}
