.header-section {
    height: 350px;
    background: #6d47c2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6d47c2 0%, #4f98dd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6d47c2 0%,#4f98dd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6d47c2 0%,#4f98dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d47c2', endColorstr='#4f98dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */      padding: 100px 0;

    .header-section-title {
        position: relative;
        top: 100px;
        margin: 0 auto;

        h1 {
            text-align: center;
            color: #fff;
            font-family: $font-bold;
            font-size: 60px;
        }

        .subtitle-section {
            text-align: center;

            h5 {
                text-align: center;
                color: #fff;
                font-family: $font-regular;
                font-size: 25px;        
            }
        }

    }
}