.items-section,
.subjects-section,
.courses-section {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    background-color: $quaternary;
    height: 100vh;

    &::-webkit-scrollbar {
        display: none;
    }
    .items-wrapper {
        .items {
            .item {
                height: 152px;
                background-color: #fff;
                border-radius: 20px;
                padding: 0;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    transform: translateX(10px);
                }

                &.open {
                    background-color: $primary;
                    .item-content {
                        h4,
                        p {
                            color: #fff;
                        }
                        .rating-section {
                            i,
                            span {
                                color: #fff;
                            }
                        }
                    }
                }

                .item-image {
                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 122px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }

                .item-content {
                    h4 {
                        font-weight: 700;
                        color: $tertiary;
                    }

                    p {
                        font-size: 13px;
                        color: $tertiary;
                    }
                    .label-section {
                        span {
                            padding: 10px;
                        }
                    }
                    .rating-section {
                        i {
                            font-size: 12px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }

                .progress {
                    height: 10px;
                    margin-bottom: 20px;
                    padding: 0;
                    margin: 0 auto 30px;

                    .progress-bar {
                        background-color: #0edb94;
                    }
                }
            }
            &.placeholder {
                .placeholder-space {
                    background: $quaternary;
                    height: 15px;
                    width: 100%;
                    margin: 7px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.courses-section {
    background-color: #fff;
    .items-wrapper {
        margin-right: -15px;
        margin-left: -15px;
        .items {
            &.placeholder {
                .placeholder-space {
                    background: #fff;
                    height: 15px;
                    width: 100%;
                    margin: 7px 10px;
                    border-radius: 5px;
                }
            }
        }
        .item-content {
            h4 {
                color: #fff !important;
            }
            span {
                display: block;
                color: #fff;
            }
        }
        // .items {
        // &.locked:after {
        //     content: 'Niet vrijgespeeld';
        //     line-height: 150px;
        //     text-align: center;
        //     color: #fff;
        //     font-family: 'Roboto', sans-serif;
        //     font-size: 20px;
        //     position: absolute;
        //     top: 45px;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     height: 145px;
        //     width: 100%;
        //     background-color: rgba(0, 0, 0, 0.8);
        //     border-radius: 20px;
        // }
        // }
    }
}
