.landing-section {
    &:nth-of-type(1) {
        padding: 0 90px;
        height: 100%;
        position: relative;
        top: 0;
        transform: translateY(40%);
        max-height: 350px;

        h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
    &:nth-of-type(2) {
        padding: 0 0 0 20px;
        height: 100vh;
        margin-top: -150px;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: $break-medium) {
    .landing-section {
        &:nth-of-type(1) {
            top: 0;
            transform: translateY(10%);
        }

        &:nth-of-type(2) {
            height: 500px;
            position: relative;
            padding: 0;
            margin-top: -120px;
        }
    }
}
