.nav-main {
    position: fixed;
    min-height: 100vh;
    width: 150px;

    z-index: 1;
    .nav-content {
        .nav-title {
            color: #fff;
            font-size: 20px;
            text-align: center;

            img {
                position: relative;
                top: -2px;
                width: 35px;
                height: 35px;
            }
        }
        ul {
            padding: 0;
            list-style: none;

            &:hover {
                cursor: pointer;
            }
            li {
                text-align: center;
                color: $light-gray;
                font-size: 10px;
                line-height: 40px;

                &:hover {
                    color: $primary;
                    .nav-content-item {
                        color: $primary;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }

                .nav-content-item {
                    display: inline-flex;
                    color: $quaternary;
                    font-size: 11px;
                    font-weight: 700;
                    transition: 0.3s;
                    width: 100%;
                    text-align: left;
                    padding: 0 28px;

                    i {
                        width: 35px;
                        font-size: 16px;
                        position: relative;
                        top: 10px;
                    }
                }
                .dropdown-menu {
                    transform: translate(calc(100vw - 95vw)) !important;
                }
            }
        }
        .nav-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .nav-item {
                transition: 0.3s;
                &:hover {
                    .nav-content-item {
                        background: $secondary;
                        color: #fff;
                    }
                }
                .nav-content-item {
                    max-width: 45px;
                    background: $primary;
                    padding: 10px;
                    margin: auto;
                    transition: 0.3s;
                    font-size: 15px;

                    &:hover {
                        text-decoration: none;
                        color: #fff;
                        background: $secondary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $break-small) {
    body {
        overflow-x: hidden;
        .main {
            .vue-base {
                padding-left: 0 !important;
            }
        }
    }
    .nav-main {
        bottom: 0;
        height: 80px;
        min-height: 80px;
        width: 100vw;
        position: fixed;
        .nav-content {
            height: 100%;
            .nav-title {
                display: none;
            }

            .nav-items,
            .nav-footer {
                ul {
                    height: 100%;
                }
                li {
                    padding: 0.25rem 0 !important;
                    height: 100%;
                    max-width: 100px;
                    a {
                        span {
                            display: none;
                        }
                        i {
                            top: 0;
                            margin: auto;
                            padding: 0 !important;
                        }
                    }
                }
            }
            .nav-items {
                height: 100%;
                li {
                    width: 16%;
                }
            }

            .nav-footer {
                top: 0;
                right: 20px;
                left: auto;
                li {
                    width: 80px;
                }
            }

            li {
                display: inline-block;
                .nav-content-item {
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $break-xsmall) {
    .nav-footer {
        right: 0 !important;
    }
}
