.nav-main {
    min-height: 100vh;
    z-index: 1;
    .nav-title {
        text-align: center;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        color: #fff;
        font-size: 20px;
    }
    .nav-content {
        height: 100%;
        ul {
            padding: 0;
            list-style: none;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
            right: 0;

            &:hover {
                cursor: pointer;
            }
            li {
                text-align: center;

                &:hover {
                    .nav-content-item {
                        color: $primary;
                    }
                }

                .nav-content-item {
                    color: #fff;
                    font-size: 20px;
                    transition: 0.3s;

                    .avatar {
                        height: 30px;
                        width: 30px;
                        object-fit: cover;
                    }
                }
                .dropdown-menu {
                    transform: translate(calc(100vw - 93vw), -15px) !important;
                }
            }
            &:last-of-type {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -30px;
                top: auto;
            }
        }
    }
}

// @media screen and (max-width: $break-medium) {
//     .nav-main {
//         margin-left: -100%;
//     }
// }
