.profile-container {
    ul {
        list-style: none;
        .avatar {
            background: $primary;
            color: #fff;
            font-size: 40px;
            padding: 40px 35px;
        }
    }
}
