.navbar-laravel {
    z-index: 10;
    padding: 0 !important;
    height: 150px;

    @media screen and (max-width: $break-small) {
        .container {
            padding-right: 40px !important;
            padding-left: 40px !important;
        }
    }

    .container {
        max-width: 1480px;
        padding: 40px 90px;

        .nav-title {
            font-size: 30px;
            color: #000;

            &:hover {
                text-decoration: none;
            }

            img {
                position: relative;
                top: -2px;
                width: 45px;
                height: 45px;
            }
        }
    }
}
