.navbar-laravel {
    z-index: 10;
    padding: 0 !important;
    height: 150px;
    width: 100%;
    @media screen and (max-width: $break-small) {
        .container {
            padding: 40px 90px !important;
        }
    }

    .container {
        max-width: 100%;
        padding: 40px 90px;

        .nav-title {
            font-size: 30px;
            color: #000;

            &:hover {
                text-decoration: none;
            }

            img {
                position: relative;
                top: -2px;
                width: 45px;
                height: 45px;
            }
        }
    }
}
