// Typography
$font-regular: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main colors
$primary: #3490dc;
$secondary: #1d68a7;
$tertiary: #373646;
$quaternary: #f3f3f3;

// Colors
$light-gray: #bababa;
$dark-gray: #878787;

$break-xsmall: 420px;
$break-small: 575px;
$break-medium: 767px;
$break-large: 1000px;
$break-xlarge: 1200px;
