// Body
// $body-bg: #f8fafc;

// Typography
$font-regular: "GothamRounded-Book", sans-serif;
$font-medium: "GothamRounded-Medium", sans-serif;
$font-bold: "GothamRounded-Bold", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom colors
$primary-color: #3fa9f5;
$secondary-color: #eee;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$break-small: 575px;
$break-medium: 767px;
$break-large: 1000px;
$break-xlarge: 1200px;
