// Typography
$font-regular: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Main colors
$primary: #3490dc;
$secondary: #1d68a7;
$tertiary: #373646;
$quaternary: #fafafa;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$break-small: 575px;
$break-medium: 767px;
$break-large: 1000px;
$break-xlarge: 1200px;
