
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'fonts';

@import 'helpers';
@import 'navigation';
@import 'footer';
@import 'profile';
@import 'header';
@import 'card';
@import 'filter';

@import 'admin';
@import 'auth';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

.main {
  font-family: $font-regular;
  background-color: #fff;
  margin-top: -135px;

  .main-container {
    margin: 250px auto 150px auto;
    max-width: 1310px;

    .badge-primary {
      padding: 10px;
      font-family: $font-medium;
    }

    .c-header-title {
      margin-bottom: 30px;
    }

    .form-group {
      margin: 20px auto;
    }

    .search-bar {
      margin: 20px 20px 50px 20px;
    }
  }
}

.hide {
  display: none;
}