// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variables
@import 'variables';
// @import "fonts";

@import 'navigation';
@import 'top-navigation';
@import 'footer';
@import 'profile';
@import 'landing';
@import 'subjects';
@import 'header';
@import 'searchbar';
@import 'buttons';

@import 'admin';
@import 'auth';

@import 'utilities/helpers';
@import 'utilities/search';
@import 'utilities/filter';
@import 'utilities/modal';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: $font-regular;
}

.main {
    font-family: $font-regular;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}
