.admin {
    .header {
        display: inline-block;
    }

    .overview {
        padding: 100px 100px 100px 250px;
        height: 100vh;
        overflow: auto;

        .button-section {
            display: inline-block;
            position: relative;
            top: -7px;
        }

        .table-list-btn {
            position: relative;
        }

        .main-body {
            .form-group-image {
                height: 200px;
                width: 200px;
                object-fit: cover;
            }

            .form-group-helper {
                font-size: 12px;
                margin-top: 10px;
            }
        }
        .hex {
            width: 33px;
            height: 33px;
        }
        .badge {
            padding: 12px 10px;
        }
    }
    img {
        &.form-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: $break-small) {
    .admin {
        .overview {
            padding: 30px;
        }
    }
}
