.landing-section {
    &:nth-of-type(1) {
        height: calc(100vh - 150px);
        padding: 0 90px;

        h1 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
    &:nth-of-type(2) {
        height: 100vh;
        margin-top: -150px;

        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: $break-large) {
    .landing-section {
        &:nth-of-type(2) {
            height: 500px;
            margin-top: -220px;
        }
    }
}
