.modal-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    &:before {
        content: '';
        position: absolute;
        background: #000;
        opacity: 0.5;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .modal-content {
        top: 50%;
        transform: translateY(-50%);

        .subject-title {
            color: $primary;
            font-weight: 700;
        }
    }
}
