.modal-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    .login {
        padding: 50px;
    }

    &:before {
        content: "";
        position: absolute;
        background: #000;
        opacity: 0.5;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .modal-window-box {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        span {
            position: absolute;
            right: 10px;
            top: 5px;
            font-weight: 900;
            cursor: pointer;
        }
    }
}
