.item-search {
    // input {
    //     border: 1px solid $tertiary;
    //     box-shadow: hue($color: #000000);
    //     border: 5px;
    //     padding: 10px;
    // }
    // button {
    //     box-shadow: none;
    //     border-radius: 5px;
    //     background-color: $tertiary;
    // }
    .form-group {
        i {
            position: absolute;
            padding: 15px 20px;
            font-size: 20px;
            color: #ececf5;
        }
        .form-control {
            height: 50px;
            border-radius: 20px;
            border: none;
            padding: 20px 30px 20px 60px;
            font-size: 17px;
        }
    }
}
